:root {
  --first-color-text: #000;
  --second-color-text: #333;
  --color-white: #fff;
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  line-height: 1.6;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.button-index {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
}

.button-index:hover,
.button-index:focus {
  background-color: var(--ocean);
}

.button-all {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.button-all:hover {
  color: var(--color-white);
  background-color: var(--ocean);
}

.button-all:focus {
  background-color: var(--ocean);
  color: var(--color-white);
}

.header {
  background: var(--color-white);
}

.header-list {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 0, 4px;
}

.list {
  list-style: none;
}

.index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.index:hover {
  color: var(--ocean);
}

.index:focus {
  color: var(--ocean);
}

.adress {
  font-size: normal;
}

.adress-class {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--ocean);
}

.descriptions {
  background-color: var(--navy-blue);
}

.highlights-a {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.highlights-c {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.highlights-b {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.sectionb {
  background-color: var(--cloud);
}

.characters {
  background-color: #ffffff;
}

.footer-index {
  background-color: var(--navy-blue);
}

.footer-p {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.porfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.studio-top {
  color: var(--navy-blue);
}

.studio-bottom {
  color: var(--cloud);
}
