:root {
  --first-color-text: #000;
  --second-color-text: #333;
  --color-white: #fff;
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  line-height: 1.6;
}

.logo {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.button-index {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-index:hover {
  background-color: #404bbf;
}

.button-index:focus {
  background-color: #404bbf;
}

.button-all {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.button-all:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.button-all:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button1 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.header {
  background: var(--color-white);
}

.header-list {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 0, 4px;
}

p {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0, 32px;
}

h2 {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700px;
  line-height: 40px;
  letter-spacing: 0, 72px;
  text-transform: capitalize;
}

.list {
  list-style: none;
}

.index {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.index:hover {
  color: #404bbf;
}

.index:focus {
  color: #404bbf;
}

.adress {
  font-size: normal;
}

.adress-class {
  font-size: normal;
}

.kontakt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.kontakt:hover {
  color: #404bbf;
}

.kontakt:focus {
  color: #404bbf;
}

.section_ {
  background-color: #2e2f42;
}

.ha-class {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hc-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.hb-class {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.sectionb {
  background-color: #f4f4fd;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.postacie {
  background-color: #ffffff;
}

.postaciea {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.postacieb {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.stopka {
  background-color: var(--navy-blue);
}

.stopka-akapit {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.porfolio-lista {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.porfolio-akapity {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.studio {
  color: #f4f4fd;
}
